*, body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    color: #242424;
}

body {
    background-color: rgb(255, 255, 255);
}

fieldset {
    border: none;
}

.flexInput {
    display: flex;
    margin: 0 auto;
    max-width: 580px;
    height: auto;
    text-align: right;
    justify-content: flex-end;
    box-sizing: border-box;
}

.regParagr {
    text-align: left;
}

input, select {
    flex: 0 0 250px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(139, 158, 180);
}

input[type=checkbox] {
    margin: 0 5px;
}

input {
    margin: 10px 120px 10px 10px;
}

select {
    width: 100px;
    margin: 10px 45px 10px 10px;

}

label {
    line-height: 60px;
}

input[type=radio] {
    margin: 10px;
}

button {
    border: 1px solid rgb(4, 12, 12);
    padding: 10px;
    position: relative;
    background-color: rgb(225, 236, 248);
    cursor: pointer;
}

button::before {
    content: "";
    width: 100%;
    transition: .1s ease;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, transparent, rgb(154, 180, 204) 0%);
    background: -webkit-linear-gradient(90deg, transparent, rgb(154, 180, 204) 0%);
    background: -moz-linear-gradient(90deg, transparent, rgb(154, 180, 204) 0%);
    background: -o-linear-gradient(90deg, transparent, rgb(154, 180, 204) 0%);
    height: 0%;
    opacity: .2;
}

button:hover::before {
    height: 70%;
}

button[value=forgotpw] {
    border: none;
    background: none;
}

button[value=forgotpw]:hover {
    text-decoration: underline;
}

button[value=forgotpw]::before {
    background: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited, a:active {
    color: rgb(154, 180, 204);
}

.bigLink {
    font-size: 2em;
    letter-spacing: .1em;
    transition: .1s ease-in;
    line-height: 2em;
}

.bigLink:hover {
    color: rgb(154, 180, 204);
    text-decoration: underline;
}

.flexParent {
    display: flex;
    justify-content: center;
}

.flexParent:nth-child(1n+2) {
    border-top: 1px solid rgb(218, 218, 218);
}

section:nth-child(1n+0) {
    box-sizing: border-box;
    text-align: center;
    padding: 30px 70px;
    margin-bottom: 3em;
}

.flexChild1 {
    flex: 50%;
    background-color: rgb(246, 253, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 50%, rgb(240, 248, 250) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 50%, rgb(240, 248, 250) 100%);
    background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 50%, rgb(240, 248, 250) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 50%, rgb(240, 248, 250) 100%);
}

.flexChild2 {
    flex: 50%;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3 {
    line-height: 2.3em;
}

h4 {
    line-height: 1em;
}

h1 {
    font-size: 2.4em;
    letter-spacing: .1em;
    color: rgb(59, 87, 112);
}

p {
    margin: 10px auto;
}

img {
    max-width: 90%;
    height: auto;
}

.socMed {
    width: 10%;
    margin: 50px; 
}

a .socMed:hover {
    text-decoration: none;
}

.socMed:hover {
    animation: socMed .1s ease-in 0s 1 forwards;
}

@keyframes socMed {
    0% {
        transform: rotate(30deg);
    }
    90% {
        transform: rotate(-15deg)
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo {
    margin: auto;
}

blockquote {
    font-size: .9em;
}

blockquote::before {
    content: "\201C"
}

blockquote::after {
    content: "\201D";
}

footer {
    font-size: .9em;
    padding: 2.3em;
    background: linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 70%, rgb(240, 248, 250) 100%);
    background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 70%, rgb(240, 248, 250) 100%);
    background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 70%, rgb(240, 248, 250) 100%);
    background: -o-linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(240, 248, 250) 70%, rgb(240, 248, 250) 100%);
}

@media screen and (max-width: 900px) {
    .flexParent {
        flex-flow: row wrap;
    }
    .flexChild1, .flexChild2 {
        flex: 100%;
        height: auto;
    }
    .infoDescr {
        display: none;
    }
    .flexInput {
        flex-wrap: nowrap;
    }
    input {
        margin: 15px;
        flex: 1;
    }
    label {
        flex: 1;
    }
    select {
        flex: 1;
        width: 17%;
    }
    .bigLink {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1500px) {
    .flexInput {
        flex-flow: row wrap;
        text-align: left;
        justify-content: center;
    }
    input, select {
        margin: 10px;
    }
}